<launch>

  <arg name="robot_model"        default="vx300s"/>
  <arg name="base_link"          default="base_link"/>
  <arg name="puppet_modes"       default="$(find aloha_lift)/config/puppet_modes.yaml"/>
  <arg name="launch_driver"      default="true"/>
  <arg name="use_sim"            default="false"/>
  <arg name="robot_name"         value="puppet"/>

  <!-- Puppet robot driver -->
  <include if="$(arg launch_driver)" file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"       value="$(arg robot_model)"/>
    <arg name="robot_name"        value="$(arg robot_name)"/>
    <arg name="base_link_frame"   value="$(arg base_link)"/>
    <arg name="use_world_frame"   value="false"/>
    <arg name="use_rviz"          value="false"/>
    <arg name="mode_configs"      value="$(arg puppet_modes)"/>
    <arg name="use_sim"           value="$(arg use_sim)"/>
  </include>

  <!-- Puppet transform -->
  <node name="puppet_transform_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="0 0 0 0 0 0 /world /$(arg robot_name)/base_link"/>

  <!-- Cameras (3: cam_high, cam_left_wrist, cam_right_wrist) -->
  <node name="usb_cam_high" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_HIGH"/>
    <param name="framerate" value="60"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="usb_cam"/>
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="false"/>
    <param name="focus" value="5"/>
    <param name="autoexposure" value="true"/>
  </node>

  <node name="usb_cam_left_wrist" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_LEFT_WRIST"/>
    <param name="framerate" value="60"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="usb_cam"/>
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="false"/>
    <param name="focus" value="40"/>
    <param name="autoexposure" value="true"/>
  </node>

  <node name="usb_cam_right_wrist" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_RIGHT_WRIST"/>
    <param name="framerate" value="60"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="usb_cam"/>
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="false"/>
    <param name="focus" value="40"/>
    <param name="autoexposure" value="true"/>
  </node>

</launch>
